{% extends 'shared.html' %}
{% block body_block %}

<div class="mb-4">
  <div class="row">
    <div class="col-6">
      <a href="{% url 'votingapp:poll_new' %}"> <button type="button" class="btn  btn-lg btn-warning"">Create New Poll</button></a>
    </div>
  </div>

</div>

<div class=" justify-content-center ">
          <div class=" row w-cols-2">
          <div class="col poll-container">
            <ul class="list-group">
              <li class="list-group-item active" aria-current="true">
                <h3>Top 3 Polls</h3>
              </li>
              {% if TopPolls %}
              {% for item in TopPolls %}
              <li class="list-group-item">
                <h3 class="mb-4"><a class="text-decoration-none" href="{% url 'votingapp:poll_vote' pk=item.pk %}">{{item.title}}</a></h3>
                <div class="row row-cols-2">
                  {% for option in item.options.all %}
                  <div class="col"><strong>{{option.title|safe}}</strong>: {{ option.votes|safe }}</div>
                  {% endfor %}
                </div>
                <div class="text-end text-success"> <i class="since">{{item.created_date | timesince}} ago</i> </div>
              </li>
              {% endfor %}
              {% else %}
              <h1>Top Polls not available!</h1>
              {% endif %}

            </ul>
          </div>

          <div class="col Scroll">
            <ul class="list-group">

              <li class="list-group-item active" aria-current="true">
                <h3>Recent Polls</h3>
              </li>
              {% if LastPolls %}
              {% for item in LastPolls %}
              <li class="list-group-item">
                <h3 class="mb-4"><a class="text-decoration-none" href="{% url 'votingapp:poll_vote' pk=item.pk %}">{{item.title}}</a></h3>
                <div class="row row-cols-2">
                  {% for option in item.options.all %}
                  <div class="col"><strong>{{option.title}}</strong>: {{option.votes}}</div>
                  {% endfor %}
                </div>
                <div class="text-end text-success"> <i class="since">{{item.created_date | timesince}} ago</i> </div>
              </li>
              {% endfor %}
              {% else %}
              <h1>No Polls Available!</h1>
              {% endif %}
            </ul>
          </div>

    </div>

  </div>

  {% endblock %}
