.homecontainer {
  border-radius: 50px;
  height: 600px;
}

#{
  font-family: 'Roboto', sans-serif;
}

.since{
  font-size: 13px;
}

.pollform .required:after {
  content: " *";
    color: red;
    font-weight: 100;
}
